openai
langchain
streamlit
pinecone-client
python-dotenv
tiktoken
wikipedia
pypdf
docx2txt
unstructured
azure-storage-blob
openpyxl
azure-search-documents==11.4.0b8
azure-core
azure-identity
tabulate
altair==4.0
matplotlib
azure-search
yfinance